// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$primary: #e91e63;
$secondary: #7f3ace;
$accent: #23e0b5;
$tertiary: #ade023;

$dark: #1a1a1a;
$dark-page: #1a1a1a;

$light: #ff0000;
$light-page: #fdfcf8;

$positive: #16a34a;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
