<html>

  <head>
    <title>Home</title>
    <meta charset='utf-8' />
    <meta name='format-detection' content='telephone=no' />
    <meta name='msapplication-tap-highlight' content='no' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <style>
      @import
      url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
      @import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
      body { background-color: #FDFAF5; margin-bottom: 50px; } html, button,
      input, select, textarea { font-family: 'Montserrat', Helvetica,
      sans-serif; color: #bbb; } h1 { text-align: center; margin: 30px 15px; }
      .zoom-area { max-width: 490px; margin: 30px auto 30px; font-size: 19px;
      text-align: center; } .link-container { text-align: center; } a.more-link
      { text-transform: uppercase; font-size: 13px; background-color: #de7e85;
      padding: 10px 15px; border-radius: 0; color: #fff; display: inline-block;
      margin-right: 5px; margin-bottom: 5px; line-height: 1.5; text-decoration:
      none; margin-top: 50px; letter-spacing: 1px; }
    </style>
  </head>

  <body>
    <h1 style='color: #de7e85;'>Welcome
    </h1>
    <p class='zoom-area' style='color: #707070;'>
      You landed on home page
    </p>
    <div class='link-container'>
      <a target='_self' href='/api/v1/doc' class='more-link'>Go to documentation
      </a>
    </div>
  </body>

</html>